.main-signup{
   width: 50%;
   text-align: center;
   height: 60%;
}

form {
    padding: 50px;
    margin: 10px 5px;
}

.input[type=userName] {
    padding: 10px;
    margin: 10px 0;
}

div.inputter{
    margin: 10px;
    font-size: 30px;
}

input {
    margin-left: 5px;
    height: 20px;
}

h2{
    font-size: 50px;
    text-align: center;
    margin-bottom: 5px;
}

.signup{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: whitesmoke 2px solid;
}
