
.login-list{
    display: inline-block;
    font-size: 40px;
    list-style: none;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0px;
    padding-left: 0px;
}

h1 {
    text-align: center;
}

.title{
    text-align: center;
    font-size: 50px;
    margin-top: 10%;
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #488a26
    }

    60% {
        background-color: #ad5114
    }

    90% {
        background-color: rgb(149, 83, 94)
    }

    100% {
        background-color: #6d4396
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}