
.login-list{
    display: inline-block;
    font-size: 40px;
    list-style: none;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0px;
    padding-left: 0px;
}

h1 {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
}

@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #487e2e
    }

    60% {
        background-color: #923f07
    }

    90% {
        background-color: rgb(189, 22, 50)
    }

    100% {
        background-color: #873dd1
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.logout-list{
    list-style-type: none;
    font-size: 25px;
    height: 10%;
}

nav .title{
    float: left;
}

#logout-button:hover {
    border: 1px solid whitesmoke;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
}

a:hover{
    box-shadow: inset;
}

.title a:hover{
    box-shadow: inset;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 4px;
}

div.button-div{
    align-items: center;
    width: 100%;
    padding: 5px;
    margin: 10px;
}

body .button{
    align-items: center;
}

div.find-buttons {
    margin-right: 45%;
    float: right;
    display: flex;
}

.button {
    padding: 10px;
}

.button button{
    padding: 10px;
}

.div-border{
    width:33%;
    align-items: center;
}

#root .artist-card{
    text-align: center;
    display: flex;
}

.card {  
 display: inline-block;
 width: 150px;
 border: whitesmoke 2px solid;
 padding: 8px;
}

.deets{
  list-style-type: none;
  font-size: 15px;
  font-size: 22px; 
}

