:root {
    --cyan: #38fff5;
    
    }
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: beige;
}
main {
    background-color: white;
}
.topnav {
    display: flex;
    height: 75px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .topnav a {
    margin: 5px;
    display: flex;
    background-color: var(--cyan);
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
  }
  
  .topnav a:hover {
    scale: 1.1;
    box-shadow: 6px 4px 6px #38fff56c;
  }
  
  .boxCont {
    outline: solid black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    height: 400px;
    width: 500px;
    padding: 5%;
  }
  .boxCont h1{
    padding-bottom: 50%;
  }
  footer{
    display: flex;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
  footer ul {
    list-style: none;    
  }
  footer li:visited{
    text-decoration: none;
    color: black;
  }
  footer section{
    padding-left: 25px;
    padding-right: 25px;
  }
